<% title "Tasks" %>

<h2>List of All Tasks:</h2>
<div id="tasklist">
  <% @tasks.each do |task| %>
    <p>
      <%= task.name %> >> due <%= task.due %></b>
      <small>| <%= link_to "delete", task, :method => :delete %> |</small>
    </p>
  <% end %>
</div>
<hr/>
<%= link_to "this_week's tasks >>", tasks_url %>

